body,
html {
    height: 100%;
    font-family: "Raleway", sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
a {
    color: #7ee0ff;
}
svg {
    margin: 0px auto;
    display: block;
    margin-right: 5px;
}

/* Section 1
 */
.hero-image {
    background-image: url("../images/login/1.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-overlay {
    /*     background-color: rgba(22, 43, 87, 0.9);
 */
    z-index: 2;
    cursor: pointer;
    background: transparent
        radial-gradient(closest-side at 50% 50%, #1d3e85d9 0%, #0d2a6be6 100%)
        0% 0% no-repeat padding-box;
    height: 100%;
    position: relative;
    opacity: 0.5;
}
.txtInitials {
    color: white;
}

.red {
    color: white;
    z-index: 2;
}
/*  */
.playSong1 {
    position: absolute;
    top: 2%;
    left: 2%;
    display: inline-flex;
    width: 25%;
    z-index: 101;
}
.swap {
    position: relative;
    width: 100%;
}
.playSong2 {
    display: inline-flex;
    position: absolute;
    opacity: 1;
}
.playSong2 img {
    width: 8%;
    margin-right: 5px;
}
.playSong2 h5 {
    margin: auto;
    margin-left: 0;
    transition: 1s ease;
}
.txtInitials {
    position: absolute;
    bottom: 2%;
    right: 2%;
    display: inline-flex;
}
.txtInitials1 {
    position: absolute;
    top: 2%;
    right: 2%;
    display: flex;
}
.txtInitials1 img {
    width: 12%;
    margin-left: auto;
    margin-right: 25px;
}

.txtInitials h3 {
    margin-bottom: 2px;
    letter-spacing: 1px;
}
.txtInitials h4 {
    margin-top: 2px;
    color: #7ee0ff;
    letter-spacing: 3px;
}
.text {
    margin-right: 0;
}
.text h3 {
    letter-spacing: 0.84px;
}
.text h6 {
    color: #7ee0ff;
    letter-spacing: 5.28px;
}
.playButton {
    border-radius: 50%;
    background-color: #304061;
    border: none;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.playButton:hover span:after {
    opacity: 1;
    right: 0;
}

#waveform,
#audio-spectrum {
    width: 100%;
    margin: auto;
}
#waveform {
    position: absolute;
    opacity: 0;
    transition: 1s ease;
    display: flex;
    left: 25%;
}
.background {
    width: 100%;
    height: 100%;
}
.logo {
    width: 100%;
    height: 20%;
}
.logo img {
    width: 5%;
}
.textAbout {
    margin: auto;
    margin-right: 10%;
    height: 70%;
}

.dusan {
    position: absolute;
    bottom: 0;
    right: 0;
}
.dusan img {
    width: 100%;
}

h6 {
    letter-spacing: 0.8px;
}

/* srednji skrol */
.mouse {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    text-align: -webkit-center;
}
.mouse .mouse-icon {
    display: block;
    width: 25px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    margin-bottom: 40%;
    margin-right: auto;
    margin-left: auto;
}
.mouse .mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}
.mouse:hover .mouse-icon {
    border-color: #fff;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}
/* text play song */

.wrapper {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(10%, #e72a3a),
        color-stop(50%, #fff),
        color-stop(60%, #5bdaff)
    );
    background: linear-gradient(to right, #1992e3d9 10%, #fff 50%, #5bdaff 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 1.5s linear infinite;
    animation: textclip 1.5s linear infinite;
}

@-webkit-keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/* Section 2
 */
.red2 {
    background-image: url("../images/login/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*   -moz-box-shadow: inset 0 0 105px -20px #0072bee6;
    -webkit-box-shadow:inset 0 0 105px -20px #0072bee6;
    box-shadow: inset 0 0 105px -20px #0072bee6; */
}
.red2-overlay {
    background: transparent
        linear-gradient(180deg, #ffffff00 0%, #1c80c58c 100%) 0% 0% no-repeat
        padding-box;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100vw;
    opacity: 0.2;
    background-color: black;
}
.red3-overlay {
    background: transparent
        linear-gradient(180deg, #40bad500 0%, #40bad540 100%) 0% 0% no-repeat
        padding-box;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100vw;
    opacity: 0.2;
    background-color: black;
}
.red4-overlay {
    background: transparent
        linear-gradient(180deg, #ffffff00 0%, #a0ce5a38 100%) 0% 0% no-repeat
        padding-box;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100vw;
    opacity: 0.2;
    background-color: black;
}
.red5-overlay {
    background: transparent
        linear-gradient(180deg, #ffffff00 0%, #7ee0ff45 100%) 0% 0% no-repeat
        padding-box;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100vw;
    opacity: 0.4;
    background-color: black;
}
.red6-overlay {
    background: transparent
        linear-gradient(180deg, #ffffff00 0%, #7ee0ff45 100%) 0% 0% no-repeat
        padding-box;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100vw;
    opacity: 0.4;
    background-color: black;
}
/*   /text intro */

.intro {
    position: absolute;
    top: 15%;
    left: 11%;
}

.introt h5 {
    font-weight: bold;
}
.introt h1 {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -0.02em;
}
.introt {
    position: relative;

    transition: 2s;
}

.introt > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffff;
    pointer-events: none;
}
section {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
.scrollDiv {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20%;
}
.scrollDiv a h6 {
    letter-spacing: 3px;
}
.scrollDiv2 {
    position: absolute;
    bottom: 10%;
    left: 12%;
    height: 100px;
}

#btn-stop {
    height: 20%;
    align-self: center;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #070404;
}
::-webkit-scrollbar-thumb {
    background: #353e4e;
    border-radius: 5px;
}

/* Section 3
 */
.red3 {
    background-image: url("../images/all/3slide.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*   -moz-box-shadow: inset 0 0 105px -20px #0072bee6;
    -webkit-box-shadow: inset 0 0 105px -20px #0072bee6;
    box-shadow: inset 0 0 105px -20px #0072bee6;
} */
}
.slide3 {
    position: relative;
    width: 100%;
    height: 80%;
}
.leftText {
    opacity: 1;
    position: absolute;
    right: 8%;
    top: 7%;
    letter-spacing: 0.72px;
    transition: 0.3s ease;
}
.rightText {
    opacity: 0;
    position: absolute;
    right: 8%;
    top: 7%;
    letter-spacing: 0.72px;
    transition: 0.3s ease;
}
.toggleText {
    display: flex;
    width: 21%;
    position: absolute;
    left: 11%;
    top: 13%;
    flex-wrap: wrap;
    z-index: 10;
}
.training h1 {
    font-size: 80px;
    font-weight: 900;
}
.training {
    width: 100%;
    text-align: right;
    transition: 0.3s ease;
}

.rehab {
    font-size: 60px;
    color: #b2b2b2;
    width: 100%;
    font-weight: 900;
    line-height: 1;
    transition: 0.3s ease;
    margin-bottom: 0px;
}

.toggleText h5 {
}
.rightText :last-child {
    font-weight: bold;
    font-size: 24px;
}

/*   SWUP TRANZICIJE
 */
/*  .transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0072bee6;
    left: 0;
    top: 0;
    transform: scale(0);
    transform-origin: right;
    z-index: 10;
}

.transition-wipe {
    transition: 0.7s cubic-bezier(0, 0, 0.58, 1);
    transform: scaleX(0);
}

html.is-animating .transition-wipe {
    transform: scaleX(1);
} 
 */
/* .jstrana{
     height: 100%;
 }
.hide {
    display: none;
}
.animate_content {
    animation: animate 3s ease;
}
.reanimate_content {

    animation: reanimate 3s ease ;
}
.fadeIn {
    z-index: 10;
}

@-moz-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
@-webkit-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
@-o-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
}
@-moz-keyframes reanimate {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1) ;
    }
}
@-webkit-keyframes reanimate {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1) ;
    }
}
@-o-keyframes reanimate {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1) ;
    }
}
@keyframes reanimate {
    0% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.002);
    }
    100% {
        transform: scale(1, 1) ;
    }
}
 */
.red4 {
    background-image: url("../images/all/slikasklek.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*   -moz-box-shadow: inset 0 0 105px -20px #0072bee6;
    -webkit-box-shadow:inset 0 0 105px -20px #0072bee6;
    box-shadow: inset 0 0 105px -20px #0072bee6; */
}
.h14 {
    padding-left: 10% !important;
    margin-top: -10% !important;
}
.introt4 h5 {
    font-weight: bold;
}
.introt4 h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}
.introt4 h1:last-child {
    margin: -10%;
}
.introt4 {
    position: relative;
}

.introt4 > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffff;
    pointer-events: none;
}

.red5 {
    background-image: url("../images/all/Recovery-Photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*   -moz-box-shadow: inset 0 0 105px -20px #0072bee6;
    -webkit-box-shadow:inset 0 0 105px -20px #0072bee6;
    box-shadow: inset 0 0 105px -20px #0072bee6; */
}
.content {
    position: absolute;
    height: 100%;
    z-index: 6;
    width: 100%;
}
.red6 {
    background-image: url("../images/all/red6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*   -moz-box-shadow: inset 0 0 105px -20px #0072bee6;
    -webkit-box-shadow:inset 0 0 105px -20px #0072bee6;
    box-shadow: inset 0 0 105px -20px #0072bee6; */
}

.introt6 h5 {
    font-weight: bold;
}
.introt6 h1 {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -0.02em;
}
.introt6 :nth-last-child(2) {
    margin-top: -6% !important;
}
.introt6 {
    position: relative;

    transition: 2s;
}

.introt6 > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffff;
    pointer-events: none;
}
.w-35 {
    width: 31% !important;
}
.intro_button button {
    background-color: transparent;
    color: white;
    display: inline;
    padding: 3% 15%;
    border: 2px solid white;
    font-size: 21px;
    letter-spacing: 2.7px;
    border-radius: 0px !important;
}

.intro_button {
    margin: 8% 0px;
    width: 70%;
}
