nav {
    position: fixed;
    width: 80px;
    height: 100vh;
    left: 3%;
    bottom: 0px;
    z-index: 4;
}

nav ul {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    list-style-type: none;
    padding-top: 20px;
}
nav ul li {
    height: 50px;
    z-index: 7;
}
nav ul li a.current {
    background: black;
}
nav ul li a svg.current path {
    d: path("M8,2 L2,8");
}
path {
    transition: fill 0.9s ease;
}
.navb {
    position: absolute;
}
.navb path {
    fill: white;
    transform: translate(8px, 0px);
}
/* .navb:hover path {
    d: path(
        "M 10.000 15.000   L 17.071 17.071  L 15.000 10.000  L 17.071 2.929  L 10.000 5.000  L 2.929 2.929  L 5.000 10.000  L 2.929 17.071  L 10.000 15.000  z"
    ) !important;
    transform: translate(-1px, 0px);
} */
.current path {
    fill: #7ee0ff;
    transform: rotate(180deg) translate(2.5px, 0px);
    transform-origin: center;
    transform-box: fill-box;
    d: path(" M11.5,0,23,19H0Z") !important;
}
/* nav ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 58%;
    top: 0;
    bottom: 0;
    border: 1px solid;
    border-color: white;
} */
.prava1 {
    position: fixed;
    height: 100%;
    transform: translate(0px, -23px);
}
.prava1 .a {
    transform: translate(9px, 0.5px);
}

@keyframes moveText {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(10px);
    }
}
.seeNext:hover {
    animation: moveText 0.8s linear ;
    animation-fill-mode: forwards;
}
.seeNext:hover .prava {
    transform: translate(41px, -10px);
}
.a {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
}

.b {
    fill: #fff;
    font-size: 16px;
    font-family: Raleway-Medium, Raleway;
    font-weight: 500;
    letter-spacing: 0.15em;
}
.prava {
    transition: 0.5s ease;
}

#line1 {
    stroke-width: 4px;
    stroke: #7ee0ff;
    stroke-linecap: round;
}
#line2 {
    stroke-width: 4px;
    stroke: #7ee0ff;
    fill: #7ee0ff;
    stroke-linejoin: round;
    stroke-linecap: round;
}
/* Animacija play button */

#pause:hover #circle {
    transition: stroke-dashoffset 1s ease-in;
    stroke-dashoffset: 0;
    fill: none;
}

#circle {
    transition: stroke-dashoffset 300ms ease-in;
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 2px;
    stroke: white;
}
#circle.play {
    stroke-dashoffset: 314;
}
