nav {
    position: fixed;
    width: 80px;
    height: 50vh;
    left: 3%;
    bottom: 25%;
    z-index: 100;
}

nav ul {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    list-style-type: none;
    padding-top: 20px;
}
nav ul li {
    height: 50px;
    z-index: 7;
}
nav ul li a.current {
    background: black;
}
nav ul li a svg.current path {
    d: path("M8,2 L2,8");
}
path {
    transition: fill 0.9s ease;
}
.navb {
    position: absolute;
}
.navb path {
    fill: #b2b2b2;
    transform: translate(9px, 0px);
}

.current path {
    fill: #7ee0ff;
    transform: rotate(180deg) translate(1.5px, 0px);
    transform-origin: center;
    transform-box: fill-box;
    /*     d: path("M11.5,0,23,19H0Z") !important;
 */
}

.prava1 {
    position: fixed;
    height: 100%;
    transform: translate(1px, -23px);
}
.prava1 .a {
    transform: translate(9px, 0.5px);
}

@keyframes moveText {
    0% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(10px);
    }
}
.seeNext:hover {
    animation: moveText 0.8s linear;
    animation-fill-mode: forwards;
}
.seeNext:hover g .prava {
    transform: translate3d(41px, -10px, 0px) scale(1);
}
.a {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 2px;
}

.b {
    fill: #fff;
    font-size: 16px;
    font-family: Raleway-Medium, Raleway;
    font-weight: 500;
    letter-spacing: 0.15em;
}
.prava {
    transition: 0.5s ease;
    transform: translate3d(41px, 0px, 1px) scale(1);
}

#line1 {
    stroke-width: 4px;
    stroke: #7ee0ff;
    stroke-linecap: round;
}
#line2 {
    stroke-width: 4px;
    stroke: #7ee0ff;
    fill: #7ee0ff;
    stroke-linejoin: round;
    stroke-linecap: round;
}
/* Animacija play button */

#pause:hover #circle {
    transition: stroke-dashoffset 1s ease-in;
    stroke-dashoffset: 0;
    fill: none;
}

#circle {
    transition: stroke-dashoffset 300ms ease-in;
    stroke-dashoffset: 0;
    fill: none;
    stroke-width: 2px;
    stroke: white;
}
#circle.play {
    stroke-dashoffset: 314;
}
